<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kg.ctl.mapper.IdRangeMapper">


    <!--查询更新时间大于等于特定时间的最小主键id-->
    <select id="queryMinIdWithTime" resultType="org.kg.ctl.dao.IdRange">
        SELECT MIN(id) as minId, MAX(id) as maxId
        FROM ${tableId}
        WHERE ${targetTime} between #{startTime} and #{endTime}
    </select>




</mapper>
